{%extends 'base.html'%}
{% block content %}
    <h1>Editar Estudante</h1>

    <form method="POST" action="{{url_for('show', id=student.id)}}?_method=PATCH">
    <input type="text" name="first_name" value="{{student.first_name}}">
    <input type="text" name="last_name" value="{{student.last_name}}">
    <input type="submit" value="Confirmar">
    </form>
{% endblock %}
