{%extends 'base.html'%}
{% block content %}
    <h1>Lista de  Usuarios Matriculados</h1>
	<p>    
    		<a href="{{url_for('new')}}"> Cadastrar usuarios</a>
	</p>
{% for user in users %}
    	<p>
        	<a href="{{url_for('show', id=user.id)}}">{{user.first_name}} {{user.last_name}}</a>
    	</p>
{% endfor %}
    
{% endblock %}
