{%extends 'base.html'%}
{% block content %}
    <h1>Algumas informações sobre {{user.first_name}}</h1>
    
    <a href="{{url_for('edit', id=user.id)}}"> Editar usurario</a>
    
    <h2>Deletar usurario</h2>
    <form method="POST" action="{{url_for('show', id=user.id)}}?_method=DELETE">
 	<input type="submit" value="Delete">    
    </form>
{% endblock %}
